<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add File</title>
</head>
<body>

   
    <h1>Add File</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

    {% if form.instance.image %}
        <h3>Uploaded Image:</h3>
        <img src="{{ form.instance.image.url }}" alt="Uploaded Image" style="max-width: 300px;">
    {% endif %}

    <a href="{% url 'file_view' %}"class="btn btn-primary">Back to File List</a>
   
</body>
</html>

